/* Body */
body {
    font-family: 'Nerko One', cursive;
    overflow: visible;
}

/* Header */

header {
    min-height: 100vh;
    background-image: url("../images/homepage/pokemon-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.pokemon-home {
    width: 50%;
    height: auto;
    }

.pokemon-img {
    width: 50%;
    height: auto;
    }
    
.pokemon-home-div {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.slide-from-right {
    animation-duration: 1.3s;
    animation-name: slide-from-right;
}

@keyframes slide-from-right {
    from {
        margin-right: -200%;
    }
    to {
        margin-right: 0%;
    }
}

.welcome-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    text-align: center; 
    padding-bottom: 20px;
}

.pokeball {
    height: 100px;
    width: auto;
}

/* Navigation Bar */

.navbar-text {
    font-family: 'Nerko One', cursive;
    color: #2a75bb;
    font-size: 130%;
}

.navbar-text:hover {
    color: #F0FFFF;
    text-decoration: none !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-item {
    margin: 0.5rem 1rem;
}

.navbar-nav {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row !important;
}

/* Pokedex */

#pokedex {
    height: 100vh;
    background-image: url("../images/pokedex/mew.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

.error-msg {
    display: none;
}

@media only screen and (max-width: 820px) {

}



.pokedex {
  align-items: flex-end;
  display: flex;
  height: 34.375rem;
  width: 50rem;
  margin: auto;
  position: relative;
}

.pokedex-position {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.left-container,
.right-container {
  border: 0.1875rem solid black;
  width: 50%;
}

.right-container {
  border-left: none;
}

.left-container {
  background: #E71D23;
  height: 100%;
  width: calc(50% + 50px);
}

.left-container__top-section {
  border-bottom: 0.1875rem solid black;
  display: flex;
  height: 3.125rem;
  padding: 0.5rem;
}

.top-section__blue {
  background: radial-gradient(farthest-corner at 10px 10px, white, #369CD4, #369CD4);
  border-radius: 50%;
  border: 0.125rem solid white;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0,0,0,.5);
  height: 1.875rem;
  width: 1.875rem;
}

.top-section__small-buttons {
  display: flex;
  margin: 0 1.5625rem;
}

.top-section__red,
.top-section__yellow,
.top-section__green {
  border-radius: 50%;
  border: 0.0625rem solid black;
  height: 0.625rem;
  margin-right: 0.3125rem;
  width: 0.625rem;
}

.left-container__main-section-container {
  display: flex;
  height: calc(100% - 50px);
}

.left-container__main-section {
  height: 100%;
  padding: 1.5625rem;
  width: 31.25rem;
}

.main-section__white {
  background: #DEDEDE;
  border: 0.1875rem solid black;
  box-shadow: inset 0 0 0.1875rem 0.1875rem rgba(0,0,0,.3);
  height: 75%;
}

.main-section__black {
  background: black;
  height: calc(100% - 50px);
  margin: 1.5625rem;
  padding: 0.625rem;
  width: calc(100% - 50px);
}

.main-screen {
  border-radius: 0.9375rem;
  height: 100%;
  padding: 0.9375rem;
}

.screen__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.poke-name {
  color: white;
  font-size: 1.5625rem;
  font-weight: bold;
}

.poke-id {
  color: rgba(0,0,0,.5);
  font-size: 1.25rem;
}

.screen__image {
  display: flex;
  justify-content: space-around;
}

.poke-front-image,
.poke-back-image {
  height: 6rem;
  width: 6rem;
}

.screen__description {
  display: flex;
  height: 6.25rem;
  justify-content: space-around;
}

.screen__stats {
  background: rgba(0,0,0,.3);
  border-radius: 0.3125rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1.25rem 0.9375rem;
}

.stats__types {
  height: 100%;
  padding: 0.3125rem;
}

.poke-type-one,
.poke-type-two {
  background: rgba(255,255,255,.3);
  border-radius: 1.5625rem;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.625rem;
  text-align: center;
}

.left-container__controllers {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0.625rem 1.5625rem 0;
}

.controllers__d-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.d-pad__cell {
  background: black;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0,0,0, .3);
  height: 1.5625rem;
  width: 1.5625rem;
}

.d-pad__cell.top {
  border-left: 0.0625rem solid dimgrey;
  border-radius: 0.3125rem 0.3125rem 0 0;
  border-right: 0.0625rem solid dimgrey;
  border-top: 0.0625rem solid dimgrey;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.d-pad__cell.left {
  border-bottom: 0.0625rem solid dimgrey;
  border-left: 0.0625rem solid dimgrey;
  border-radius: 0.3125rem 0 0 0.3125rem;
  border-top: 0.0625rem solid dimgrey;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.d-pad__cell.middle {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.d-pad__cell.right {
  border-bottom: 0.0625rem solid dimgrey;
  border-radius: 0 0.3125rem 0.3125rem 0;
  border-right: 0.0625rem solid dimgrey;
  border-top: 0.0625rem solid dimgrey;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.d-pad__cell.bottom {
  border-bottom: 0.0625rem solid dimgrey;
  border-left: 0.0625rem solid dimgrey;
  border-radius: 0 0 0.3125rem 0.3125rem;
  border-right: 0.0625rem solid dimgrey;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.controllers__buttons {
  display: flex;
  justify-content: space-around;
  width: 6.25rem;
}

.buttons__button {
  align-items: center;
  background: black;
  border-radius: 50%;
  border: 0.0625rem solid dimgrey;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0,0,0, .3);
  color: rgba(255,255,255,.75);
  display: flex;
  height: 2.1875rem;
  justify-content: center;
  width: 2.1875rem;
}

.buttons__button:first-child {
  margin-top: 0.3125rem;
}

.buttons__button:last-child {
   margin-top: -0.3125rem;
}

.left-container__right {
  border-left: 0.1875rem solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 3.125rem;
}

.left-container__hinge {
  background: linear-gradient(to right, #7F100F, #E71D23, #E71D23, #7F100F);
  height: 4.6875rem;
  width: 100%;
}

.left-container__hinge:first-child {
  border-bottom: 0.1875rem solid black;
}

.left-container__hinge:last-child {
  border-top: 0.1875rem solid black;
}

.top-section__red {
  background: #7F100F;
}

.top-section__yellow {
  background: #EDF18E;
}

.top-section__green {
  background: #33915A;
}

.right-container {
  background: #E71D23;
  height: calc(100% - 50px);
  padding: 1.5625rem;
  width: calc(50% - 50px);
}

.right-container__black {
  background: black;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0,0,0,.3);
  height: 18.75rem;
  padding: 0.625rem;
}

.right-container__screen {
  background: #43B0F2;
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 0.9375rem 0.9375rem 0;
}

.list-item {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 0.75rem;
  height: 1.5625rem;
  overflow-x: hidden;
  padding-left: 0.3125rem;
  width: 50%;
}

.list-item:hover {
  background: #85cbf2;
  color: black;
}

.list-item:active {
  background: #1280f2;
  color: white;
}

.right-container__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5625rem;
}

.left-button,
.right-button {
  align-items: center;
  background: #DEDEDE;
  border-radius: 0.1875rem;
  border: 0.125rem solid black;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0,0,0,.3);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 1.875rem;
  justify-content: center;
  text-transform: uppercase;
  width: 6.25rem;
}

.left-button:hover,
.right-button:hover {
  background: white;
}

.left-button:active,
.right-button:active {
  box-shadow: inset 0 0 0.125rem 0.125rem rgba(0,0,0,.3);
}

.hide {
  display: none;
}

.normal {
  background: #BABAAE;
}

.fighting {
  background: #A75543;
}

.flying {
  background: #78A2FF;
}

.poison {
  background: #A95CA0;
}

.ground {
  background: #EECC55;
}

.rock {
  background: #CCBD72;
}

.bug {
  background: #C2D21E;
}

.ghost {
  background: #7975D7;
}

.steel {
  background: #C4C2DB;
}

.fire {
  background: #FA5643;
}

.water {
  background: #56ADFF;
}

.grass {
  background: #8CD750;
}

.electric {
  background: #FDE139;
}

.psychic {
  background: #FA65B4;
}

.ice {
  background: #96F1FF;
}

.dragon {
  background: #8673FF;
}

.dark {
  background: #8D6855;
}

.fairy {
  background: #F9AEFF;
}

/* Games */

#games {
    min-height:100vh;
    background-image: url("../images/games/gengar-background.png");
    background-size: cover;
    background-position: center;
    color: grey;
}

.img-fluid {
    height: auto;
    max-width: 80%;
}

.game-img {
    margin: 20px auto;
}

@media only screen and (max-width: 766px) {
    .game-img {
        height: 150px;
        width: auto;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 490px) {
    .game-img {
        height: 100px;
        width: auto;
        margin-top: 68px;
    }
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}

.modal-content {
    background-color: rgba(220, 218, 232,);
    margin: 40px auto; 
    border: 1px solid #888;
    width: 35%; 
    height: 75%;
}

@media only screen and (max-width: 950px) {
  .modal-content {
    width: 50%;
    height: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 75%;
    height: 75%;
  }
}

.modal-img {
    height: auto;
    width: 80%;
}

.checked {
    color: yellow;
}

.unchecked {
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: 50px auto;
    
}

.mySlides {
    display: none;
}

.mySlides1 {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
}

/* Anime */

#anime {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;    
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: #111;
    width: 400px;
    height: 600px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide {
    width: 300px;
    height: 500px;
  }
}

/* Movies */

 #movies {
    min-height:100vh;
    background-position: center;
    background: #333;
    color: #fff;
    line-height: 1.6;
}   

.movie-slider {
    position: relative;
    overflow: visible;
    height: 100vh;
    width: 100vw;
}

.movie-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.movie-slide.current {
    opacity: 1;
}

.movie-slide .movie-review {
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    color: blue;
    padding: 50px;
}

.movie-slide.current .movie-review {
    opacity: 1;
    transform: translateX(600px);
    transition: all 1s ease-in-out 0.3s;
}

.arrow-buttons button#next {
    position: absolute;
    top: 50%;
    right: 30px;
}

.arrow-buttons button#previous {
    position: absolute;
    top: 50%;
    left: 30px;
}

.arrow-buttons button {
    border: 2px solid white;
    background-color: transparent;
    color: grey;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.arrow-buttons button:hover {
    background-color: white;
}

@media (max-width: 600px) {
    .movie-review {
        bottom: -300px;
        right: 0;
        width: 100%;
    }

    .movie-review.current {
        transform: translateY(-300px);
    }
}

/* movie images */

.movie-slide:first-child {
    background: url("../images/movies/detective-pikachu.jpg") no-repeat center center/cover;
}

.movie-slide:nth-child(2) {
    background: url("../images/movies/i-choose-you.jpg") no-repeat center top/cover;
}

.movie-slide:nth-child(3) {
    background: url("../images/movies/kyurem.jpg") no-repeat center top/cover;
}

.movie-slide:nth-child(4) {
    background: url("../images/movies/mewtwo-strikes-back-evolution.jpg") no-repeat center top/cover;
}

/* Fan Events */

#newsletter {
    min-height:100vh;
    background-image: url("../images/fan-events/surfing-pikachu.jpg");
    background-size: cover;
    background-position: center center;
    color: #2a75bb;
}

.sign-up-form {
    width: 40%;
    padding: 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .sign-up-form {
        width: 60%;
    }
}

.email-msg {
    margin: 20px 20px;
}

.subscribe-button {
    display: inline-block;
    padding: 10px 10px;
    margin: 0 0.1em 0.1em;
    border: solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #F0FFFF;
    background-color: #4e9af1;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
}

.subscribe-button:hover{
    border-color: rgba(255, 255, 255, 1);
}